.googleIcon {
  display: inline-block;
}

.googleIcon g {
  stroke: none;
  stroke-width: 1;
  fill: none;
  fill-rule: evenodd;
}

.bluePath {
  fill: #4285f4;
}

.greenPath {
  fill: #34a853;
}

.yellowPath {
  fill: #fbbc05;
}

.redPath {
  fill: #ea4335;
}
